{% extends 'diary/base.html' %}

{% block content %}
    <p>{{ day.title }}</p>
    <form action="" method="POST">
        <table class="table">
            <tr>
                <th>Title</th>
                <td>{{ form.title }}</td>
            </tr>
            <tr>   
                <th>Content</th>
                <td>{{ form.text }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <th>{{ form.date }}</th>
            </tr>
        </table>

        <button type="submit">Send</button>
        {% csrf_token %}
    </form>
{% endblock content %}